---
layout: default
---

<section class="page page-home">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-4 text-center table-responsive">

        <table class="table table-sm table-borderless table-dark table-striped table-hover">
          <thead class="thead-light">
            <tr><th>Utopia time</th><th>UTC+1</th></tr>
          </thead>
          <tbody>
            <tr><td>Day 1</td><td>19:00</td></tr>
            <tr><td>Day 2</td><td>20:00</td></tr>
            <tr><td>Day 3</td><td>21:00</td></tr>
            <tr><td>Day 4</td><td>22:00</td></tr>
            <tr><td>Day 5</td><td>23:00</td></tr>
            <tr><td>Day 6</td><td>00:00</td></tr>
            <tr><td>Day 7</td><td>01:00</td></tr>
            <tr><td>Day 8</td><td>02:00</td></tr>
            <tr><td>Day 9</td><td>03:00</td></tr>
            <tr><td>Day 10</td><td>04:00</td></tr>
            <tr><td>Day 11</td><td>05:00</td></tr>
            <tr><td>Day 12</td><td>06:00</td></tr>
            <tr><td>Day 13</td><td>07:00</td></tr>
            <tr><td>Day 14</td><td>08:00</td></tr>
            <tr><td>Day 15</td><td>09:00</td></tr>
            <tr><td>Day 16</td><td>10:00</td></tr>
            <tr><td>Day 17</td><td>11:00</td></tr>
            <tr><td>Day 18</td><td>12:00</td></tr>
            <tr><td>Day 19</td><td>13:00</td></tr>
            <tr><td>Day 20</td><td>14:00</td></tr>
            <tr><td>Day 21</td><td>15:00</td></tr>
            <tr><td>Day 22</td><td>16:00</td></tr>
            <tr><td>Day 23</td><td>17:00</td></tr>
            <tr><td>Day 24</td><td>18:00</td></tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</section>
