<footer>
  <div class="container text-center">

    <p>
      Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; <a href="https://gitlab.com/Saucyminator/web-utopia-time" target="_blank">hosted</a> on <a href="https://gitlab.com" target="_blank">GitLab</a><br class="visible-xs">
    </p>

  </div>
</footer>
