{%- if site.versions.jquery -%}<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.versions.jquery }}/jquery.slim.min.js"></script>{%- endif -%}
{%- if site.versions.bootstrap -%}<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.versions.bootstrap }}/js/bootstrap.min.js"></script>{%- endif -%}
{%- if site.versions.moment -%}<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/{{ site.versions.moment }}/moment.min.js"></script>{%- endif -%}
{%- if site.versions.livestamp -%}<script src="//cdnjs.cloudflare.com/ajax/libs/livestamp/{{ site.versions.livestamp }}/livestamp.min.js"></script>{%- endif -%}
{%- if site.versions.pace -%}<script src="//cdnjs.cloudflare.com/ajax/libs/pace/{{ site.versions.pace }}/pace.min.js"></script>{%- endif -%}
{%- if site.versions.clipboard -%}<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/{{ site.versions.clipboard }}/clipboard.min.js"></script>{%- endif -%}

<script src="{{ '/src/js/main.js' | prepend: site.baseurl }}?{{ site.time | date: site.date_formats.timestamp }}"></script>
