<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top">

    {%- comment -%} {% include navigation.html %} {%- endcomment -%}

    {{ content }}

    {%- comment -%} {% include footer.html %} {%- endcomment -%}

    {% include scripts.html %}

  </body>
</html>
